[submodule "EspruinoWebTools"]
	path = webtools
	url = https://github.com/espruino/EspruinoWebTools
[submodule "EspruinoAppLoaderCore"]
	path = core
	url = https://github.com/espruino/EspruinoAppLoaderCore
